<h2><%= link_to @show_user.name, user_path(@show_user.id) %>さんがフォローしているユーザー一覧</h2>
<ul>
<% @follows.where(follower_id: @show_user.id).each do |follow| %>
  <li><%= link_to follow.followee.name, user_path(follow.followee_id) %></li>
<% end %>
</ul>
